.stat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 var(--spacing-4) 0;
  border-radius: 8px;
  background-color: #fff;
}

.progress,
.clan {
  padding: 4px;
}

.clan {
  border-left: 1px solid #dadada;
}

.name {
  font-weight: bold;
}
