/* styles/BoxField.module.css */

.field {
  --field-size: calc(var(--cell-size) * 5);
  position: relative;
  width: var(--field-size);
  height: var(--field-size);
  margin: 40px auto var(--spacing-6);
  user-select: none;
}

$level-count: 6; // Change this value to adjust the number of levels

@function calculate-offset($index, $offset) {
  @return $index * $offset;
}
.level {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;

  // @for $i from 2 through 20 {
  //   &:nth-child(#{$i}) {
  //     top: calculate-offset($i - 1, -3px);
  //     left: calculate-offset($i - 1, 3px);
  //   }
  // }
}

.done {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.7);
  color: #000;
}

.timer {
  font-size: 32px;
  font-family: 'Bungee Spice', sans-serif;
  font-weight: 400;
  font-style: normal;
}
