/* styles/BoxField.module.css */

.field {
  --field-size: calc(var(--cell-size) * 5);

  flex: 0 0 auto;
  position: relative;
  width: var(--field-size);
  height: var(--field-size);
  margin: var(--spacing-4) auto;
  user-select: none;
}

$level-count: 6; // Change this value to adjust the number of levels

@function calculate-offset($index, $offset) {
  @return $index * $offset;
}
.level {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;

  // @for $i from 2 through 20 {
  //   &:nth-child(#{$i}) {
  //     top: calculate-offset($i - 1, -3px);
  //     left: calculate-offset($i - 1, 3px);
  //   }
  // }
}

.done {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: rgba(#fff, 0.7);
  color: #f73e10;
}

.timer {
  text-shadow: -2px 1px 4px rgba(#000, 0.3);
  font-size: 32px;
  font-family: var(--font-digit);
  font-weight: 900;
}
