.heading {
  font-weight: 600;
}

.light {
  color: var(--color-light);
  text-shadow:
    -1px -1px 0 var(--color-border),
    1px -1px 0 var(--color-border),
    -1px 1px 0 var(--color-border),
    1px 1px 0 var(--color-border);
}

.h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.2;
}

.h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.2;
}

.center {
  text-align: center;
}
