.heading {
  font-weight: 500;
}

.light {
  color: var(--light-color);
}

.h1 {
  font-size: 28px;
  font-weight: inherit;
  margin-bottom: 0;
  line-height: 1.2;
}

.center {
  text-align: center;
}
