.pointAnimation {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 50%;
  color: #f73e10;
  font-size: 24px;
  font-family: Arial;
  font-weight: 900;
  font-style: normal;
  text-shadow: -3px 3px 3px rgba(#000, 0.2);
  transform: translate(-50%, -50%);
  animation: flyAway 2s ease-out;
  pointer-events: none;
}

@keyframes flyAway {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-200px);
  }
}

.hidden {
  display: none;
}
