.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 0;
  list-style: none;
}

.item {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.chanel,
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 0;
}

.cover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty {
  background: rgba(#fff, 0.7);
  border: none;
  color: #000;

  &:hover {
    background: rgba(#fff, 0.9);
  }

  &:active {
    background: #fff;
  }
}

.crown {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
  line-height: 1;
}
