.hero {
  padding: 32px 0;
}

.title {
  font-size: 40px;
  font-family: var(--font-digit);
  font-weight: 400;
  font-style: normal;
}

.description {
  margin-top: 16px;
  color: var(--color-light);
}
