@import 'variables';

@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Digital Numbers Regular'),
    url('/fonts/DigitalNumbers-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg, #7fbfb2 0%, #47729c 100%);
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.ghostButton {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.namePlate {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 236px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 3px solid #415379;
  background: linear-gradient(45deg, #4b5b7c 0%, #677ba3 100%);
  color: #ecae3c;
  text-shadow: -1px 1px 1px rgba(#000, 0.2);
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;

  &::before,
  &::after {
    content: '';
    flex: 0 0 auto;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #415379;
    box-shadow:
      inset 2px -2px 2px rgba(#000, 0.1),
      inset -2px 2px 2px rgba(#fff, 0.1);
  }
}
