@import 'variables';

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg, #7fbfb2 0%, #47729c 100%);
}

.ghostButton {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
