.box {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
  padding: calc(var(--cell-size) / 10);
  color: #775c18;
  color: transparent;
  font-size: 10px;
  font-weight: bold;
  line-height: calc(var(--cell-size) / 3.8);
  text-align: center;
}

.cap {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3b367;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    pointer-events: none;
    opacity: 0.3;
  }

  &::after {
    content: 'PROFIT';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10000;
    top: 40%;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(#c29052, 0.7);
    pointer-events: none;
    color: #383838;
    line-height: 100%;
  }
}

.sticker {
  position: absolute;
  inset: 10%;
  background: #f3b367 var(--box-image) no-repeat center;
  background-size: cover;
  filter: sepia(0.3);
}

.shadow {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  background: #000;
  opacity: 0.4;
  filter: blur(5px);
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::before {
    top: 0;
    right: 100%;
    width: 50%;
    transform: translateY(4.7px) skew(0deg, -15deg);
    background: linear-gradient(to left, rgba(#000, 1) 0%, rgba(#000, 0.5) 100%);
  }

  &::after {
    top: 64px;
    right: 0;
    height: 14%;
    transform: translateX(-16px) skew(-75deg, 0deg);
    background: linear-gradient(to bottom, rgba(#000, 1) 0%, rgba(#000, 0.5) 100%);
  }
}

.cover {
  position: absolute;
  inset: 10%;
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
  pointer-events: none;
  filter: sepia(0.5);
}
