.row {
  & + & {
    margin-top: 8px;
  }
}

.half {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.booster {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px;
  font-size: var(--font-base);
  text-align: left;
}

.picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-border);
  background: var(--color-panel);
}

.text {
  flex: 1;
}

.description {
  margin-top: 4px;
  font-size: var(--font-small);
  font-weight: 600;
  color: var(--color-border);
}
